* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-header,
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-header {
  background-color: black;
  height: 5vh;
  justify-content: flex-end;
  padding-right: 10px;
}

.header {
  background-color: #fffafa;
  height: 8vh;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

#sony-logo,
#ps-logo,
#search-icon {
  cursor: pointer;
}

#sony-logo {
  height: 60px;
  width: 80px;
  filter: invert(1) brightness(2);
}

#ps-logo {
  margin: 0 15px;
  height: 50px;
  width: 50px;
}

#search-icon {
  height: 25px;
  width: 25px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  display: inline;
  padding: 13px;
}

a {
  text-decoration: none;
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 15px;
}

.button,
.button-2,
#button-3 {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
}

.button-2 {
  background-color: #0070cc;
  color: white;
  font-weight: bold;
  padding: 15px 15px;
}

.button-2:hover {
  outline: 2px solid #0068bd;
  outline-offset: 2px;
}

#button-3 {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 18px 20px;
  margin-bottom: 7vh;
}

#button-3:hover {
  outline: 2px solid white;
  outline-offset: 2px;
}

.hero {
  width: 100%;
  height: 80vh;
}

#baseball-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-row,
.image-row2 {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.image-row2 {
  margin-bottom: 5vh;
}

.images,
.row-image,
.game-icons {
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.images {
  height: 170px;
  width: 300px;
}

.images:hover {
  border: 2px solid #3882f6;
  transform: scale(0.95);
}

.row-image {
  height: 17vh;
  width: 14.1vw;
  box-shadow: 0 2px 5px rgba(156, 156, 156, 0.5);
  margin-bottom: 15px;
  padding: 20px 32px;
  transition: 0.1s ease-in-out;
}

.row-image:hover {
  outline: 2px solid #0068bd;
  outline-offset: 5px;
  transform: scale(1.02);
}

.image-set,
.image-set2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.image-set {
  color: #6b6b6b;
}

.image-set2 {
  color: white;
  font-size: 16px;
}

.games {
  background-color: #121314;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

#game-title {
  font-size: 45px;
  font-weight: 300;
  margin: 6vh 0 4vh;
}

.game-icons-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.game-icons-bot {
  margin: 5vh 0 10vh;
}

.game-icons {
  height: 275px;
  width: 275px;
  object-fit: cover;
}

.game-icons:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.accessories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#acc-image {
  height: 60vh;
  width: 55vw;
  margin: 0 10vh;
}

.acc-left {
  margin: 0 10vh;
}

#acc-title {
  font-size: 56px;
  font-weight: 350;
  margin-bottom: 6vh;
}

#acc-content {
  font-size: 28px;
  font-weight: 350;
  color: #0068bd;
  margin-bottom: 1vh;
}

#acc-desc {
  font-size: 16px;
  color: #6b6b6b;
  margin-bottom: 2vh;
}

.ann-container {
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("images/bg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0 13%;
}

.ann-left {
  margin-right: 3vw;
}

#ann-title {
  font-size: 48px;
  font-weight: 350;
  margin-bottom: 3vh;
}

#ann-content {
  font-size: 20px;
  font-weight: 330;
  color: #666666;
  margin-bottom: 3vh;
}

#ann-image {
  width: 30vw;
  height: 33vh;
}

.banner {
  position: relative;
  width: 100%;
  height: 65vh;
  background-image: url("images/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 10%;
  max-width: 40%;
  font-size: 18px;
  color: #ccc;
}

.banner-text p {
  font-size: 3.5rem;
  margin-bottom: 5%;
  color: white;
}

.banner-bottom {
  width: 100%;
  height: 70vh;
  background-color: #26254f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 18%;
  color: white;
}

.banner-image {
  width: 28vw;
  height: 33vh;
  border-radius: 12px;
  margin-bottom: 2vh;
}

.bot-txt {
  padding-left: 10px;
  font-size: 16px;
}

h3.bot-txt {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.bot {
  transition: all 0.3s ease;
  padding: 20px 20px 50px 20px;
  border-radius: 10px;
}

.bot:hover {
  background-color: #202020;
  box-shadow: 0 0 0 1px white, 0 10px 30px -5px white;
  transform: scale(1.05);
  border-radius: 10px;
}

.follow {
  width: 100%;
  height: 50vh;
}
